<!DOCTYPE html>
<html>
    <head>
        <!-- GTAG PLACE HOLDER -->
        <title>Starfield Outpost Planner</title>
        <!-- jQuery library -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Select2 CSS & JS -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Starfield Outpost Planner</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                </ul>
            </div>
        </nav>
        <div id="build-url-display" style="display: none;">
            Build URL: <a href="#" id="build-url">Click here for the build: </a>
        </div>
        <div><br></div>
        <div class="form-group">
            <label for="buildName">Build Name:</label>
            <input type="text" class="form-control form-control-lg" id="buildName" placeholder="Enter build name">
        </div>
        
        <div class="table-responsive">
            <table border="1" id="mainTable" class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Module Name</th>
                        <th>Count</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- The table body will be empty initially -->
                </tbody>
            </table>
        </div>
        
        <button class="btn btn-primary btn-lg" id="addRow">Add Row</button>
        <button class="btn btn-success btn-lg" id="saveBuildButton">Save Build</button>

        <!-- Summary Table -->
        <table border="1" id="summaryTable" class="table">
            <thead>
                <tr>
                    <th>Resource</th>
                    <th>Required Amount</th>
                    <th>Total Mass</th>
                </tr>
            </thead>
            <tbody>
                <!-- This will be populated dynamically -->
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">Total Mass</td>
                    <td id="totalMassValue">0</td>
                </tr>
            </tfoot>
        </table>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <footer>
            <div class="container mt-4">
                <hr>
                <div style="background-color: #f2f2f2; padding: 10px;">
                    <p class="text-center py-2">Disclaimer: The Starfield Outpost Planner is provided as-is without warranties of any kind, either express or implied. Use this tool at your own risk. The developer assumes no responsibility for any decisions made or actions taken based on the information provided by this tool.</p>
                    <p class="text-center py-2">Privacy Notice: This tool does not collect, store, or process any personal or user-related data. It only caches limited data temporarily to function properly.</p>
                </div>
                <p class="text-center py-2 mt-3">© 2023 Starfield-Outpost-Planner.app. All rights reserved. Licensed under <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank" rel="noopener noreferrer">Apache License 2.0</a>.</p>
                <p class="text-center">Connect with me: 
                    <a href="https://x.com/salehram87" target="_blank" rel="noopener noreferrer">X (formerly Twitter)</a> | 
                    <a href="https://www.linkedin.com/in/salehram/" target="_blank" rel="noopener noreferrer">LinkedIn</a> | 
                    <a href="https://github.com/salehram/starfield-outpost-planner" target="_blank" rel="noopener noreferrer">GitHub</a>
                </p>
            </div>
        </footer>
        
    </body>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        body {
            padding: 1em; /* Adjust the value as needed */
        }

        #build-url-display {
            border: 1px solid #ddd;
            padding: 10px;
            margin-top: 20px;
            background-color: #f9f9f9;
        }

        #build-url-display a {
            color: #007BFF;
            text-decoration: none;
        }

        #build-url-display a:hover {
            text-decoration: underline;
        }

        .select2-container {
            width: 100% !important;
        }

        #mainTable, #summaryTable {
            width: 100%; /* Use percentage-based widths */
            margin-top: 1em;
        }
    </style>
</html>
